page-home {
    &.ion-page {
        background-color: transparent !important;
    }

    .qr-scanner-mark {
        position: absolute;
        top: 25%;
        left: 20%;
        color: white;
        background: transparent;
        font-size: 300px;
        z-index: 9999999;
    }
}


