<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-icon class="qr-scanner-mark" ios="ios-qr-scanner-outline" md="ios-qr-scanner-outline"></ion-icon>
</ion-content>
